<app-modal modalID="editProject">
   <!-- Modal heading -->
   <div heading>
    <h1  class="pt-2 font-medium">Update {{formTitle}}</h1>
    
  </div>
 <!-- Alert Box -->
  <div class="flex mx-auto" *ngIf="showAlert">
    <app-alert [color]="alertColor">{{alertMsg}}</app-alert>
  </div>
  
  <!-- Edit Form  -->
  <div class="px-6 py-6">
    <form [formGroup]="editForm" (ngSubmit)="updateProject()">
      <div class="flex flex-col">

        <!-- row 1 -->
        <div class="flex flex-row mr-6 gap-6">
          <!--Title input-->
          <div class="relative flex mb-6">
            <app-input [control]="title" placeholder="Title"></app-input>
          </div>

          <!--Framework input-->
          <div class="relative flex mb-6">
            <app-input
              [control]="framework"
              placeholder="Framework"
            ></app-input>
          </div>
        </div>

        <!-- row 2 -->
        <div class="flex flex-row mr-6 gap-6">
          <!--Budget input-->
          <div class="relative flex flex-col mb-6">
            <app-input [control]="budget" placeholder="Budget"></app-input>
          </div>

          <!--Duration input-->
          <div class="relative flex flex-col mb-6">
            <app-input [control]="duration" placeholder="Duration"></app-input>
          </div>
        </div>

        <!-- row 3 -->
        <div class="flex flex-row mr-6 gap-6">
          <!--Status input-->
          <div class="relative flex mb-6">
            <input class ="w-4 h-4" [formControl]="status" type="checkbox" id="status" name="status">
            <label class="ml-2" for="completed">Completed</label>
          </div>
        </div>

        <!-- row 4 -->
        <div class="flex relative flex-row w-4/5 ">
          <!--Details input-->
            <textarea placeholder="Project Details" [formControl]="details" name="detials" placeholder="Enter Details"
                class="peer block h-36 w-full rounded border bg-transparent px-3 py-[0.32rem] focus:border focus:border-blue2 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" ></textarea>  
                <label
                for="projectDetails"
                class="absolute pointer-events-none text-sm bg-white px-1 -top-3.5 left-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-dark2/75 peer-placeholder-shown:top-1 peer-focus:text-blue1 peer-focus:-top-3.5 peer-focus:text-sm transition-all duration-200"
                >Project Details</label>
        </div>
        <p class="text-red-400 py-2 w-64 text-xs" *ngIf="details.errors?.['required']">Field is required!</p>
      </div>

      <!-- submit button -->

      <div class="flex items-center justify-end">
        <button 
          [disabled]="editForm.invalid || !insubmission"
          class="mt-4 px-4 py-2 text-white tracking-wide rounded bg-blue1 hover:bg-blue2 disabled:opacity-50 disabled:bg-blue1"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</app-modal>
