<div class="flex px-24 h-screen pt-6 bg-light2">
    <div class="bg-white">
        <table class="table-auto">
            <thead>
              <tr>
                <th>Title</th>
                <th>Framework</th>
                <th>Budget</th>
                <th>Duration</th>
                <th>Details</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td>Malcolm Lockyer</td>
                <td>1961</td>
                <td>1961</td>
                <td>1961</td>
                <td>1961</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>