<form #loginForm="ngForm" (ngSubmit)="loginUser()">
  <div class="flex flex-col w-72 pt-6 pb-4 items-center justify-center">
    <div class="relative flex flex-col mb-6">
      <input
        type="email"
        [(ngModel)]="credentials.email"
        name="email"
        placeholder="Email"
        #email="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        class="peer placeholder-transparent h-8 w-64 p-2 text-sm border border-dark2/50 outline-none rounded focus:border-2 focus:border-blue2"
      />
      <label
        class="absolute pointer-events-none text-sm bg-white px-1 -top-3.5 left-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-dark2/75 peer-placeholder-shown:top-1 peer-focus:text-blue1 peer-focus:-top-3.5 peer-focus:text-sm transition-all duration-200"
      >
        Email
      </label>
      <p
        *ngIf="email.errors && email.touched && email.dirty"
        class="text-sm text-red-500"
      >
        Invalid email!
      </p>
    </div>
    <div class="relative box-border flex flex-col mb-4">
      <input
      type="password"
      [(ngModel)]="credentials.password"
      name="password"
      placeholder="Password"
      #password="ngModel"
      required
      class="peer placeholder-transparent h-8 w-64 p-2 text-sm border border-dark2/50 outline-none rounded focus:border-2 focus:border-blue2"
    />
    <label
      class="absolute pointer-events-none text-sm bg-white px-1 -top-3.5 left-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-dark2/75 peer-placeholder-shown:top-1 peer-focus:text-blue1 peer-focus:-top-3.5 peer-focus:text-sm transition-all duration-200"
    >
      Password
    </label>
      <p
        *ngIf="password.errors && password.touched && password.dirty"
        class="text-sm text-red-500"
      >
        Invalid password!
      </p>
    </div>
    <!-- Login Button -->
    <button [disabled]="loginForm.invalid || !insubmission"
            class="bg-blue1 px-6 py-1 mt-2 rounded text-white hover:bg-blue2
                    disabled:opacity-50 disabled:bg-blue1">
      Login
    </button>
  </div>
</form>
